---
const { title = "microCMS demo環境" } = Astro.props;
import "@/styles/common.css";
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <header>ここにヘッダーが入ります</header>
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
    <footer>ここにフッターが入ります</footer>
  </body>
</html>